In [1]:
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier #Importing Random Forest Classifier
from sklearn import metrics  # Importing metrics to test accuracy

iris = datasets.load_iris()

data=pd.DataFrame({
'sepal length': iris.data[:,0],
'sepal width': iris.data[:,1],
'petal length': iris.data[:,2],
'petal width': iris.data[:,3], 
'species': iris.target
})

X=data[['sepal length', 'sepal width', 'petal length', 'petal width']] #features
y=data['species']  #target
x_train, x_test, y_train, y_test= train_test_split(X, y, test_size=0.3) #splitting data with test size of 30%

In [2]:
clf=RandomForestClassifier(n_estimators=10)  #Creating a random forest with 100 decision trees
clf.fit(x_train, y_train)  #Training our model
y_pred=clf.predict(x_test)  #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))  #Measuring the accuracy of our model

Accuracy: 0.9777777777777777

,PassengerId,Survived,Pclass,Sex,Age,Ticket,Fare,Embarked,Title,FamilySize
0,343,0,2,0,28.0,159,13.0000,0,Mrs,0
1,76,0,3,0,25.0,347,7.6500,0,Mrs,0
2,641,0,3,0,20.0,409,7.8542,0,Mrs,0
3,568,0,3,1,29.0,395,21.0750,0,Mrs,4
4,672,0,1,0,31.0,569,52.0000,0,Mrs,1